.navbar__conteiner{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 40px;
    font-size: 18px;
    padding: 20px;
    color:rgb(161, 152, 152);
    background-color:#f2f2f2;
}
.navbar__content{
    display: flex;
    gap: 15px;
}
.navbar__button{
    position: fixed;
    right: 400px;
}

.navbar__auth{
    display: flex;
    flex-direction: column;
    align-items: center;
}

