.navbar__product__conteiner{

    display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        padding: 30px;
        font-size: 12px;
        text-align: center;
}

.navbar__product__input{
    font-size: 16px;
    padding: 0 44px 0 70px;
    height: 44px;
    border: 2px solid #0078d7;
    border-radius: 4px;
    width: 100%;
}

.navbar__product__content{
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar__product__faund{
    position: fixed;
    left: 340px;
    margin-left:16px;
    border: none;
    background-color:#fff;
    transition: 2px ease;
}
.navbar__product__faund:hover{
    transform: scale(0.2s);
}

.navbar__product__button{
    position: fixed;
    right: 492px;
    margin-right: 16px;
    border: none;
    background-color: #fff;

}